<!DOCTYPE html>
<html lang="zxx">
<head>
  <!-- Required meta tags-->
  <meta charset="utf-8">
  <!-- Title-->
  <title>Gravity club</title>
  <!-- Description-->
  <meta name="description" content="Personal Portfolio Template">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Favicons-->
  <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="img/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="img/favicons/favicon-16x16.png">
  <!-- Web fonts-->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i&amp;display=swap" rel="stylesheet">
  <!-- CSS vendors-->
  <link rel="stylesheet" href="css/bootstrap-custom.css">
  <link rel="stylesheet" href="css/ionicons.min.css">
  <link rel="stylesheet" href="css/tiny-slider.css">
  <link rel="stylesheet" href="css/lity.min.css">
  <link rel="stylesheet" href="css/simplebar.min.css">
  <link rel="stylesheet" href="css/jquery.mb.YTPlayer.min.css">
  <!-- Main CSS-->
  <link rel="stylesheet" href="css/main.css">
  <!-- CSS Color scheme-->
  <link id="color-scheme" rel="stylesheet" href="css/colors/main-darkgreen.css">
  <!-- Custom CSS (Add your custom CSS styles to this file)-->
  <link rel="stylesheet" href="css/custom.css">
  <!-- removeIf(customizerDist)-->
  <link rel="stylesheet" href="../customizer/main.css">
  <!-- endremoveIf(customizerDist)-->
</head>

<body class="theme-dark">
  <!-- Preloader-->
  <div class="preloader">
    <div class="preloader-block">
      <div class="preloader-icon"><span class="loading-dot loading-dot-1"></span><span class="loading-dot loading-dot-2"></span><span class="loading-dot loading-dot-3"></span></div>
    </div>
  </div>
  <div id="overlay-effect"></div>
  <!-- Navbar-->
  <nav class="navbar-expand-md navbar fixed-top" id="navbar"><a class="navbar-brand" data-scroll="" href="#home-area">
      <!-- Navbar Logo-->
      <img class="img-fluid" src="img/img-kitzu-logo.jpg" alt="Logo"></a>
    <span class="navbar-menu ml-auto" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" role="button"><span class="btn-line"></span></span>
    <div class="collapse navbar-collapse order-1 order-lg-0" id="navbarSupportedContent">
      <!-- Navbar menu-->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link" href="#about">Club House</a></li>
        <li class="nav-item"><a class="nav-link" href="#resume">Placements</a></li>
        <li class="nav-item"><a class="nav-link" href="#portfolio">Courses</a></li>
        <li class="nav-item"><a class="nav-link" href="#blog">Internships</a></li>
        <li class="nav-item"><a class="nav-link" href="#contact">Mentors</a></li>
      </ul>
    </div>
  </nav>
  <!-- Home-->
  <section class="home-area element-cover-bg" id="home" style="background-image:url(img/home.jpg)">
    <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-center">
        <div class="col-12 col-lg-8 home-content text-center">
          <h1 class="home-name"> <span></span></h1>
          <h4 class="cd-headline clip home-headline">Comming<span class="cd-words-wrapper single-headline"><b class="is-visible">  soon</b></span></h4>
        </div>
      </div>
    </div>
    <div class="fixed-wrapper">
      <!-- Languages list-->
      <div class="fixed-block block-left">
        <ul class="list-unstyled languages-list">
          <li><a href="https://gravityclub.github.io/lginpage.github.io/"><span class="single-language">Log in</span></a></li>
          <li><a href="#0"><span class="single-language"></span></a></li>
        </ul>
      </div>
      <!-- Social media icons-->
      <div class="fixed-block block-right">
        <ul class="list-unstyled social-icons">
          <li><a href="https://twitter.com/sinnu_sahil?t=bXlhi_mdoRk9TZbbRxObiw&s=09"><i class="icon ion-logo-twitter"></i></a></li>
          <li><a href="#0"><i class="icon ion-logo-facebook"></i></a></li>
          <li><a href="https://www.linkedin.com/in/sahil-singh-tanwar-245a00246"><i class="icon ion-logo-linkedin"></i></a></li>
          <li><a href="https://github.com/gravityclub"><i class="icon ion-logo-github"></i></a></li>
          <li><a href="https://www.instagram.com/gravityclub_house/"><i class="icon ion-logo-instagram"></i></a></li>
        </ul>
      </div>
    </div>
  </section>
  <!-- About lightbox-->
  <div class="lightbox-wrapper" id="about" data-simplebar>
    <div class="container">
      <div class="lightbox-close">
        <div class="close-btn" data-modal-close=""><span class="btn-line"></span></div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="lightbox-content">
            <div class="row">
              <div class="col-12">
                <div class="section-heading page-heading">
                  <p class="section-description">Get to know Us</p>
                  <h2 class="section-title">Club House</h2>
                  <div class="animated-bar"></div>
                </div>
              </div>
            </div>
            <!-- Info section-->
            <div class="info-section single-section">
              <div class="row align-items-center">
                <!-- Picture part-->
                <div class="col-12 col-lg-5 info-img"><img class="img-fluid img-thumbnail" src="img/info-img.jpg" alt="About Picture"></div>
                <!-- Content part-->
                <div class="col-12 col-lg-7 info-content">
                  <div class="content-block">
                    <h2 class="content-subtitle">What is gravity club ?</h2>
                    <h6 class="content-title">gravity club is Engineer community</h6>
                    <div class="content-description">
                      <p>We are providing you best online Course regarding your engineering field.All the update information about intership ,hackathons and jobs.Providing mentorship guidance from professional Engineer and HR.it is a educational club house where same field peoples will interect with each other.</p>
                    </div>

                    <address class="content-info">
                      <div class="row">
                        <div class="col-12 col-md-6 single-info"><span>Founder:</span>
                          <p>Sahil Singh</p>
                        </div>
                        <div class="col-12 col-md-6 single-info"><span>Email:</span>
                          <p><a href="mailto:contact@gravityclub.com">contact@gravityclub.com</a></p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12 col-md-6 single-info"><span>Co-Founder:</span>
                          <p>Divyanshu Sharma</p>
                        </div>
                        <div class="col-12 col-md-6 single-info"><span>From:</span>
                          <p>Jaipur, India</p>
                        </div>
                      </div>
                    </address>
                    <div class="d-block d-sm-flex align-items-center"><a class="btn content-download button-main button-scheme" href="https://linktr.ee/graviityclub" role="button">Social Media</a>
                      <ul class="list-unstyled list-inline content-follow">
                        <li class="list-inline-item"><a href="https://twitter.com/sinnu_sahil?t=bXlhi_mdoRk9TZbbRxObiw&s=09"><i class="icon ion-logo-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.instagram.com/gravityclub_house/"><i class="icon ion-logo-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.linkedin.com/in/sahil-singh-tanwar-245a00246"><i class="icon ion-logo-linkedin"></i></a></li>
                        <li class="list-inline-item"><a href="https://github.com/gravityclub"><i class="icon ion-logo-github"></i></a></li>
                        <li class="list-inline-item"><a href="#0"><i class="icon ion-logo-facebook"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Services section-->
            <div class="services-section single-section">
              <div class="row">
                <div class="col-12">
                  <div class="section-heading">
                    <p class="section-description">Services we offer to our clients</p>
                    <h2 class="section-title">our Services</h2>
                  </div>
                </div>
              </div>
              <div class="row">
                <!-- Single service-->
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="single-service"><i class="icon service-icon ion-logo-css3"></i>
                    <h6 class="service-title"><a href="https://www.coursejoiner.com/">Internship</a></h6>
                  
                  <p class="service-description">Free knowlege about internship programs </p>
                  </div>
                </div>
                <!-- Single service-->
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="single-service"><i class="icon service-icon ion-md-images"></i>
                    <h6 class="service-title"><a href="https://www.mygreatlearning.com/college-students">Course</a></h6>
                    <p class="service-description">free certificate courses with 1000+ hours of content across 1000+ courses in various domains.</p>
                  </div>
                </div>
                <!-- Single service-->
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="single-service"><i class="icon service-icon ion-logo-ionic"></i>
                    <h6 class="service-title"><a href="https://devpost.com/hackathons?page=2">Hackathon</a></h6>
                    <p class="service-description">Nov 17, 2022, 09:00 AM IST  Bengaluru Rs. 14 lakhs in prizes
                  
                    </p>
                  </div>
                </div>
                <!-- Single service-->
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="single-service"><i class="icon service-icon ion-logo-wordpress"></i>
                    <h6 class="service-title">Opportunity</h6>
                    <p class="service-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                  </div>
                </div>
                <!-- Single service-->
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="single-service"><i class="icon service-icon ion-md-move"></i>
                    <h6 class="service-title">Mentorship</h6>
                    <p class="service-description">providing mentorship guidance under experienced Engineers and HR.</p>
                  </div>
                </div>
                <!-- Single service-->
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="single-service"><i class="icon service-icon ion-ios-rocket"></i>
                    <h6 class="service-title">Connecting links</h6>
                    <p class="service-description">comming soon in new version 2023</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- Testimonials section-->
            <div class="testimonials-section single-section">
              <div class="row">
                <div class="col-12">
                  <div class="section-heading">
                    <p class="section-description">We are working with</p>
                    <h2 class="section-title">Collabrations</h2>
                  </div>
                </div>
              </div>
              <div class="my-slider">
                <div class="slider-item">
                  <!-- Single review-->
                  <div class="single-review swiper-slide">
                    <div class="review-header d-flex justify-content-between">
                      <div class="review-client">
                        <div class="media"><img class="img-fluid rounded-circle client-avatar" src="img/client-1.png" alt="Client">
                          <div class="client-details">
                            <h6 class="client-name"><a href="https://www.mygreatlearning.com/college-students">Great Learning</a></h6><span class="client-role">Education Platform</span>
                          </div>
                        </div>
                      </div><i class="icon ion-md-quote review-icon"></i>
                    </div>
                    <p class="review-content">With more than 5.7 Million+ learners in 170+ countries, Great Learning, a part of the BYJU'S group, is a leading global edtech company for professional and higher education offering industry-relevant programs in blended, classroom, and purely online modes across technology, data and business domains. These programs are developed in collaboration with the top institutions like Stanford Executive Education, MIT Professional Education, The University of Texas at Austin, NUS, IIT Madras, IIT Bombay & more.

                    </p>
                  </div>
                </div>
                <div class="slider-item">
                  <!-- Single review-->
                  <div class="single-review swiper-slide">
                    <div class="review-header d-flex justify-content-between">
                      <div class="review-client">
                        <div class="media"><img class="img-fluid rounded-circle client-avatar" src="img/client-2.png" alt="Client">
                          <div class="client-details">
                            <h6 class="client-name"><a href="https://www.scaler.com/">Scaler Academy</a></h6><span class="client-role">Education Platform</span>
                          </div>
                        </div>
                      </div><i class="icon ion-md-quote review-icon"></i>
                    </div>
                    <p class="review-content">Scaler is an online transformative upskilling platform for working tech professionals. Our industry-vetted approach towards teaching & training young professionals not only helps them upskill but also #CreateImpact in the real world. We are devoted to creating an ecosystem that nurtures our learners and assists them in unlocking talent, skills & opportunities at every stage of their careers. Learners enrolled with us are taught, guided, and mentored by industry veterans and experts from leading tech organisations.</p>
                  </div>
                </div>
                <div class="slider-item">
                  <!-- Single review-->
                  <div class="single-review swiper-slide">
                    <div class="review-header d-flex justify-content-between">
                      <div class="review-client">
                        <div class="media"><img class="img-fluid rounded-circle client-avatar" src="img/client-3.jpg" alt="Client">
                          <div class="client-details">
                            <h6 class="client-name"><a href="https://www.hackerrank.com/">HackerRank</a></h6><span class="client-role">Education Platform</span>
                          </div>
                        </div>
                      </div><i class="icon ion-md-quote review-icon"></i>
                    </div>
                    <p class="review-content">HackerRank is a technology hiring platform that is the standard for assessing developer skills for over 2,800+ companies around the world. By enabling tech recruiters and hiring managers to objectively evaluate talent at every stage of the recruiting process, HackerRank helps companies hire skilled developers and innovate faster.Vivek and Hari raised Series A of $3 million, led by Khosla Ventures in September 2011. Within a year, they pivoted to building a platform that helps companies identify the right developers based on the results on coding challenges.</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- Pricing section-->
            <div class="pricing-section single-section">
              <div class="row">
                <div class="col-12">
                  <div class="section-heading">
                    <p class="section-description">Get started with my services</p>
                    <h2 class="section-title">Choose a Plan</h2>
                  </div>
                </div>
              </div>
              <div class="row align-items-center">
                <!-- Single plan-->
                <div class="col-lg-4">
                  <div class="single-plan mb-4 mb-sm-5"><i class="plan-icon icon ion-md-egg"></i>
                    <h3 class="plan-type">Beginner</h3>
                    <h2 class="plan-price">$19/month</h2>
                    <ul class="list-unstyled plan-list">
                      <li>Internship</li>
                      <li>Verified course</li>
                      <li>Database Development</li>
                      <li>Live classes</li>
                      <li>24/7 Support</li>
                    </ul><a class="btn button-main button-scheme plan-btn" href="#0" role="button">Get Beginner</a>
                  </div>
                </div>
                <!-- Single plan-->
                <div class="col-lg-4">
                  <div class="single-plan mb-4 mb-sm-5"><i class="plan-icon icon ion-ios-rocket"></i>
                    <h3 class="plan-type">Intermediate</h3>
                    <h2 class="plan-price">$29/month</h2>
                    <ul class="list-unstyled plan-list">
                      <li>3 InternshipS</li>
                      <li>Hackathon</li>
                      <li>Data structure</li>
                      <li>Verified live courses</li>
                      <li>24/7 Support</li>
                    </ul><a class="btn button-main button-scheme plan-btn" href="#0" role="button">Get Intermediate</a>
                  </div>
                </div>
                <!-- Single plan-->
                <div class="col-lg-4">
                  <div class="single-plan mb-4 mb-sm-5"><i class="plan-icon icon ion-logo-ionic"></i>
                    <h3 class="plan-type">Advanced</h3>
                    <h2 class="plan-price">$39/month</h2>
                    <ul class="list-unstyled plan-list">
                      <li>Ulimitied access courses</li>
                      <li>5 Internships</li>
                      <li>3 hackathons</li>
                      <li>Placements</li>
                      <li>24/7 Support</li>
                    </ul><a class="btn button-main button-scheme plan-btn" href="#0" role="button">Get Advanced</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Resume lightbox-->
  <div class="lightbox-wrapper" id="resume" data-simplebar>
    <div class="container">
      <div class="lightbox-close">
        <div class="close-btn" data-modal-close=""><span class="btn-line"></span></div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="lightbox-content">
            <div class="row">
              <div class="col-12">
                <div class="section-heading page-heading">
                  <p class="section-description">Welcome In</p>
                  <h2 class="section-title">Placement House</h2>
                  <div class="animated-bar"></div>
                </div>
              </div>
            </div>
            <!-- Resume section-->
            <div class="resume-section single-section">
              <div class="row">
                <!-- Education part-->
                <div class="col-12 col-md-6">
                  <div class="col-block education">
                    <h3 class="col-title">Techanical</h3>
                    <div class="resume-item"><span class="item-arrow"></span>
                      <h5 class="item-title"> For Computer Science (including :- AI , IOT, etc)</h5><span class="item-details"><a href="https://www.placementindia.com/">Check out the link.</a></span>
                      <p class="item-description">IT Software - Application Programming / Maintenance.</p>
                    </div>
                    <div class="resume-item"><span class="item-arrow"></span>
                      <h5 class="item-title">Operator</h5><span class="item-details"><a href="https://www.placementindia.com/job-search/computer-data-entry-operator-copa-jobs.htm">check out the link</a></span>
                      <p class="item-description">Computer / Data Entry Operator / COPA Jobs in India

                        <br>
                      

                      </p>
                    </div>
                    <div class="resume-item"><span class="item-arrow"></span>
                      <h5 class="item-title">Other fields( Eg:- Web Design ,Editors etc. )</h5><span class="item-details"><a href="https://www.placementindia.com/job-search/engineering-design-rd-quality-jobs.htm">check out the link</a></span>
                      <p class="item-description">All other Techanical jobs are also available.</p>
                    </div>
                  </div>
                </div>
                <!-- Experience part-->
                <div class="col-12 col-md-6">
                  <div class="col-block experience">
                    <h3 class="col-title">Non Techanical</h3>
                    <div class="resume-item"><span class="item-arrow"></span>
                      <h5 class="item-title">Managment</h5><span class="item-details"><a href="https://www.placementindia.com/job-search/sales-marketing-business-development-telecaller-jobs.htm">check out the link</a></span>
                      <p class="item-description">Sales & Marketing / Business Development/telecaller Job</p>
                    </div>
                    <div class="resume-item"><span class="item-arrow"></span>
                      <h5 class="item-title">Designer </h5><span class="item-details"><a href="https://www.placementindia.com/job-search/web-graphic-designer-jobs.htm">check out the link</a>></span>
                      <p class="item-description">Web Designer , web designer,Ui designer etc
                    </div>
                    <div class="resume-item"><span class="item-arrow"></span>
                      <h5 class="item-title">Others</h5><span class="item-details"><a href="https://www.placementindia.com/categories.htm">check out the link</a></span>
                      <p class="item-description">ConstructionIT Software - Ecommerce / Internet TechnologiesIT.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Skills section-->
            <div class="skills-section single-section">
              <div class="row">
                <div class="col-12">
                  <div class="section-heading">
                    <p class="section-description">Level of Knowledge required for  Technical Section</p>
                    <h2 class="section-title">Placements</h2>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-6">
                  <div class="single-skill" data-percentage="95">
                    <div class="skill-info"><span class="skill-name">MNC Companies</span><span class="skill-percentage"></span></div>
                    <div class="progress skill-progress">
                      <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                  <div class="single-skill" data-percentage="80">
                    <div class="skill-info"><span class="skill-name">Web Developers</span><span class="skill-percentage"></span></div>
                    <div class="progress skill-progress">
                      <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                  <div class="single-skill" data-percentage="90">
                    <div class="skill-info"><span class="skill-name">VFX Animation Designer</span><span class="skill-percentage"></span></div>
                    <div class="progress skill-progress">
                      <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="single-skill" data-percentage="90">
                    <div class="skill-info"><span class="skill-name">Cyber Security</span><span class="skill-percentage"></span></div>
                    <div class="progress skill-progress">
                      <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                  <div class="single-skill" data-percentage="95">
                    <div class="skill-info"><span class="skill-name">Marketing</span><span class="skill-percentage"></span></div>
                    <div class="progress skill-progress">
                      <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                  <div class="single-skill" data-percentage="80">
                    <div class="skill-info"><span class="skill-name">Programmer</span><span class="skill-percentage"></span></div>
                    <div class="progress skill-progress">
                      <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Video section-->
            <div class="video-section single-section">
              <div class="row align-items-center">
                <div class="col-12 col-lg-6 content-part">
                  <h3 class="video-title">Take a tour of GRAVITY CLUB</h3>
                  <p class="video-description">A cummunity of Engineers that  wants to provide  all Required tool in every field of education and life mentorship through the guidance of experienced persons in given field.We are available 24*7 to help you to reach out your requirments or needs .We all are here to make your way easy to reach out your  life goals as early as possible .</p>
                  <p class="video-description">Let's take a tour of our studio , where we all work together for you . <br>
                  check out the video section</p>
                </div>
                <div class="col-12 col-lg-6 video-part"><a class="media-lightbox" href="https://www.youtube.com/watch?v=oTnKhU8YZqs" data-lightbox>
                    <div class="embed-responsive embed-responsive-16by9">
                      <div class="embed-responsive-item element-cover-bg"><span class="play-wrapper"><i class="icon ion-md-play"></i></span></div>
                    </div>
                  </a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Portfolio lightbox-->
  <div class="lightbox-wrapper" id="portfolio" data-simplebar>
    <div class="container">
      <div class="lightbox-close">
        <div class="close-btn" data-modal-close=""><span class="btn-line"></span></div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="lightbox-content">
            <div class="row">
              <div class="col-12">
                <div class="section-heading page-heading">
                  <p class="section-description">Learn some new skills </p>
                  <h2 class="section-title">Courses</h2>
                  <div class="animated-bar"></div>
                </div>
              </div>
            </div>
            <!-- Portfolio section-->
            <div class="portfolio-section single-section">
              <div class="row">
                <!-- Filter nav-->
                <div class="col-12">
                  <ul class="list-inline filter-control" role="group" aria-label="Filter Control">
                    <li class="list-inline-item tab-active" data-filter="*">All</li>
                    <li class="list-inline-item" data-filter=".brand">Programming</li>
                    <li class="list-inline-item" data-filter=".design">Cybersecurity</li>
                    <li class="list-inline-item" data-filter=".photos">Designing</li>
                  </ul>
                </div>
              </div>
              <!-- Thumbnail list-->
              <div class="portfolio-grid row">
                <!-- Single item-->
                <div class="single-item col-6 col-lg-4 design"><a class="portfolio-item" href="https://www.mygreatlearning.com/academy/learn-for-free/courses/cybersecurity-for-leaders-an-introduction" data-lightbox>
                    <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="img/item-1.jpg">
                      <div class="item-content">
                        <h6 class="content-title"><a href="https://www.mygreatlearning.com/academy/learn-for-free/courses/cybersecurity-for-leaders-an-introduction">Cybersecurity</a></h6><span class="content-more">More Info</span>
                      </div>
                    </div>
                  </a></div>
                <!-- Single item-->
                <div class="single-item col-6 col-lg-4 photos"><a class="portfolio-item" href="https://www.mygreatlearning.com/academy/learn-for-free/courses/video-editing-basics" data-lightbox>
                    <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="img/item-2.jpg">
                      <div class="item-content">
                        <h6 class="content-title"><a href="https://www.mygreatlearning.com/academy/learn-for-free/courses/video-editing-basics">Video Editing</Video></a></h6><span class="content-more">More Info</span>
                      </div>
                    </div>
                  </a></div>
                <!-- Single item-->
                <div class="single-item col-6 col-lg-4 design"><a class="portfolio-item" href="https://www.mygreatlearning.com/academy/learn-for-free/courses/network-security" data-lightbox>
                    <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="img/item-3.png">
                      <div class="item-content">
                        <h6 class="content-title"><a href="https://www.mygreatlearning.com/academy/learn-for-free/courses/network-security">Network Security</a></h6><span class="content-more">More Info</span>
                      </div>
                    </div>
                  </a></div>
                <!-- Single item-->
                <div class="single-item col-6 col-lg-4 brand"><a class="portfolio-item" href="https://www.mygreatlearning.com/academy/learn-for-free/courses/c-programming-in-hindi" data-lightbox>
                    <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="img/item-4.png">
                      <div class="item-content">
                        <h6 class="content-title"><a href="https://www.mygreatlearning.com/academy/learn-for-free/courses/c-programming-in-hindi">C Language</a></h6><span class="content-more">More Info</span>
                      </div>
                    </div>
                  </a></div>
                <!-- Single item-->
                <div class="single-item col-6 col-lg-4 brand"><a class="portfolio-item" href="https://www.mygreatlearning.com/academy/learn-for-free/courses/c-programming-in-hindi1" data-lightbox>
                    <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="img/item-5.jpg">
                      <div class="item-content">
                        <h6 class="content-title"><a href="https://www.mygreatlearning.com/academy/learn-for-free/courses/c-programming-in-hindi1">OOPS</a></h6><span class="content-more">More Info</span>
                      </div>
                    </div>
                  </a></div>
                <!-- Single item-->
                <div class="single-item col-6 col-lg-4 photos"><a class="portfolio-item" href="https://www.mygreatlearning.com/academy/learn-for-free/courses/ux-portfolio" data-lightbox>
                    <div class="portfolio-wrapper"><img class="img-fluid"  alt="Item" src="img/item-6.png" >
                      <div class="item-content">
                        <h6 class="content-title"><a href="https://www.mygreatlearning.com/academy/learn-for-free/courses/ux-portfolio">UI&UX</a></h6><span class="content-more">More Info</span>
                      </div>
                    </div>
                  </a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Blog lightbox-->
  <div class="lightbox-wrapper" id="blog" data-simplebar>
    <div class="container">
      <div class="lightbox-close">
        <div class="close-btn" data-modal-close=""><span class="btn-line"></span></div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="lightbox-content">
            <div class="row">
              <div class="col-12">
                <div class="section-heading page-heading">
                  <p class="section-description">Check out  latest internships</p>
                  <h2 class="section-title">InternshipS</h2>
                  <div class="animated-bar"></div>
                </div>
              </div>
            </div>
            <!-- Blog section-->
            <div class="blog-section single-section">
              <div class="row justify-content-center">
                <!-- Single post-->
                <div class="col-12 col-sm-8 col-lg-4">
                  <div class="card single-post"><a class="post-img" href="https://www.coursejoiner.com/freeonlinecourses/elearnmarkets-share-market-free-course-with-free-certificate-english/"><img class="card-img-top" src="img/post- (5).jpg" alt="Blog post"><span class="content-date">Gravity Club</span></a>
                    <div class="card-body post-content"><a href="https://www.coursejoiner.com/freeonlinecourses/elearnmarkets-share-market-free-course-with-free-certificate-english/">
                        <h5 class="card-title content-title">Elearnmarkets Share Market Free Course with Free Certificate {ENGLISH}</h5>
                      </a>
                      <p class="card-text content-description">Learner will get to know about the main financial markets and their characteristics are as well as how they are linked to the economy.</p>
                    </div>
                  </div>
                </div>
                <!-- Single post-->
                <div class="col-12 col-sm-8 col-lg-4">
                  <div class="card single-post"><a class="post-img" href="https://www.coursejoiner.com/challenges/google-cloud-fly-cup-challenge-participate-win-google-swags/"><img class="card-img-top" src="img/post- (4).jpg" alt="Blog post"><span class="content-date">Gravity Club</span></a>
                    <div class="card-body post-content"><a href="https://www.coursejoiner.com/challenges/google-cloud-fly-cup-challenge-participate-win-google-swags/">
                        <h5 class="card-title content-title">Google Cloud Fly Cup Challenge | Participate & Win Google Swags</h5>
                      </a>
                      <p class="card-text content-description">Stage 1, 2, and 3 winners receive an email on or about October 10, December 1, and January 1, 2023, respectively</p>
                    </div>
                  </div>
                </div>
                <!-- Single post-->
                <div class="col-12 col-sm-8 col-lg-4">
                  <div class="card single-post"><a class="post-img" href="https://www.coursejoiner.com/internships/ibm-summer-2023-internship-program/"><img class="card-img-top" src="img/post- (3).jpg" alt="Blog post"><span class="content-date">Gravity Club</span></a>
                    <div class="card-body post-content"><a href="https://www.coursejoiner.com/internships/ibm-summer-2023-internship-program/">
                        <h5 class="card-title content-title">IBM Summer 2023 Internship Program| Project & Stipend Based Internship| Apply by 14 November</h5>
                      </a>
                      <p class="card-text content-description">International Business Machines Corporation is an American global technology company with operations in over 171 countries with a headquarters in Armonk, New York. </p>
                    </div>
                  </div>
                </div><!-- Single post-->
                <div class="col-12 col-sm-8 col-lg-4">
                  <div class="card single-post"><a class="post-img" href="https://www.coursejoiner.com/internships/5-part-time-web-development-internships-100-online-paid-internship-for-students-internship-5/"><img class="card-img-top" src="img/post- (2).jpg" alt="Blog post"><span class="content-date">Gravity Club</span></a>
                    <div class="card-body post-content"><a href="https://www.coursejoiner.com/internships/5-part-time-web-development-internships-100-online-paid-internship-for-students-internship-5/">
                        <h5 class="card-title content-title">5 Part -Time Web Development Internships</h5>
                      </a>
                      <p class="card-text content-description">Based in Gurgaon, India, Internshala is a platform for online training and internships. The website, which was established by IIT Madras alumni Sarvesh Agrawal in 2011, aids students in finding internships with Indian businesses.</p>
                    </div>
                  </div>
                </div>
                <!-- Single post-->
                <div class="col-12 col-sm-8 col-lg-4">
                  <div class="card single-post"><a class="post-img" href="https://www.coursejoiner.com/challenges/learn-to-earn-the-arcade-program/"><img class="card-img-top" src="img/post- (1).png" alt="Blog post"><span class="content-date">Gravity Club</span></a>
                    <div class="card-body post-content"><a href="https://www.coursejoiner.com/challenges/learn-to-earn-the-arcade-program/">
                        <h5 class="card-title content-title">Google Announced Summer Internship</h5>
                      </a>
                      <p class="card-text content-description">Google LLC is an American multinational technology company focusing on artificial intelligence, search engine technology, online advertising, cloud computing, computer software, quantum computing, e-commerce, and consumer electronics. The full form of Google is the Global Organization of Oriented Group Language of Earth.</p>
                    </div>
                  </div>
                </div>
                <!-- Single post-->
                <div class="col-12 col-sm-8 col-lg-4">
                  <div class="card single-post"><a class="post-img" href="https://www.coursejoiner.com/freeonlinecourses/free-govt-certified-course-iirs-isros-5-days-certification-course/"><img class="card-img-top" src="img/post- (6).jpg" alt="Blog post"><span class="content-date">Gravity Club</span></a>
                    <div class="card-body post-content"><a href="https://www.coursejoiner.com/freeonlinecourses/free-govt-certified-course-iirs-isros-5-days-certification-course/">
                        <h5 class="card-title content-title">Free Govt Certified Course| IIRS & ISRO’s 5 days Certification Course|</h5>
                      </a>
                      <p class="card-text content-description">The Prime Minister of India oversees the Bengaluru-based Indian Space Research Organisation (ISRO), which is the country’s national space agency. The executive of the Department of Space is also the Chairman of ISRO.Vikram Sarabhai, the Father of the Indian Space Program, founded it on August 15, 1969.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Contact lightbox-->
  <div class="lightbox-wrapper" id="contact" data-simplebar>
    <div class="container">
      <div class="lightbox-close">
        <div class="close-btn" data-modal-close=""><span class="btn-line"></span></div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="lightbox-content">
            <div class="row">
              <div class="col-12">
                <div class="section-heading page-heading">
                  <p class="section-description">Feel free to contact us anytimes</p>
                  <h2 class="section-title">Get in Touch</h2>
                  <div class="animated-bar"></div>
                </div>
              </div>
            </div>
            <!-- Contact section-->
            <div class="contact-section single-section">
              <div class="row">
                <!-- Contact form-->
                <div class="col-12 col-lg-7">
                  <form class="contact-form" id="contact-form" action="http://exill.dk/demo/kitzu/template/php/contact.php">
                    <h4 class="content-title">Message us</h4>
                    <div class="row">
                      <div class="col-12 col-md-6 form-group"><input class="form-control" id="contact-name" type="text" name="name" placeholder="Name" required=""></div>
                      <div class="col-12 col-md-6 form-group"><input class="form-control" id="contact-email" type="email" name="email" placeholder="Email" required=""></div>
                      <div class="col-12 form-group"><input class="form-control" id="contact-subject" type="text" name="subject" placeholder="Subject" required=""></div>
                      <div class="col-12 form-group form-message"><textarea class="form-control" id="contact-message" name="message" placeholder="Message" rows="5" required=""></textarea></div>
                      <div class="col-12 form-submit"><button class="btn button-main button-scheme" id="contact-submit" type="submit">Send Message</button>
                        <p class="contact-feedback"></p>
                      </div>
                    </div>
                  </form>
                </div>
                <!-- Contact info-->
                <div class="col-12 col-lg-5">
                  <div class="contact-info">
                    <h4 class="content-title">Mentorship</h4>
                    <p class="info-description">Always available for our Club Members</p>
                    <ul class="list-unstyled list-info">
                      <li>
                        <div class="media align-items-center"><span class="info-icon"><i class="icon ion-logo-ionic"></i></span>
                          <div class="media-body info-details">
                            <h6 class="info-type">Name</h6><span class="info-value">Sahil Singh</span>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="media align-items-center"><span class="info-icon"><i class="icon ion-md-map"></i></span>
                          <div class="media-body info-details">
                            <h6 class="info-type">Location</h6><span class="info-value">Jaipur, Rajasthan.</span>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="media align-items-center"><span class="info-icon"><i class="icon ion-md-call"></i></span>
                          <div class="media-body info-details">
                            <h6 class="info-type">Call Me</h6><span class="info-value"><a href="tel:+441632967704">+91 9413558876</a></span>
                        </div>
                      </li>
                      <li>
                        <div class="media align-items-center"><span class="info-icon"><i class="icon ion-md-send"></i></span>
                          <div class="media-body info-details">
                            <h6 class="info-type">Email Me</h6><span class="info-value"><a href="mailto:gravityclub@gmail.com">gravityclub@gmail.com</a></span>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- removeIf(customizerDist)-->
  <div class="demo-tool">
    <div class="tool-wrapper">
      <span class="tool-toggler"><i class="icon ion-md-settings"></i></span>
      <div class="tool-box">
        <ul class="list-inline single-block color-switcher">
          <li class="list-inline-item" style="background-color: #2c31ff;" data-path="css/colors/main-blueviolet.css"></li>
          <li class="list-inline-item" style="background-color: #3460D1;" data-path="css/colors/main-nightskyblue.css"></li>
          <li class="list-inline-item" style="background-color: #EE3158;" data-path="css/colors/main-redpink.css"></li>
          <li class="list-inline-item" style="background-color: #007bff;" data-path="css/colors/main-blue.css"></li>
          <li class="list-inline-item" style="background-color: #17a2b8;" data-path="css/colors/main-cyan.css"></li>
          <li class="list-inline-item" style="background-color: #3365b0;" data-path="css/colors/main-darkblue.css"></li>
          <li class="list-inline-item" style="background-color: #a435b7;" data-path="css/colors/main-darkmagenta.css"></li>
          <li class="list-inline-item" style="background-color: #c93e70;" data-path="css/colors/main-darkpink.css"></li>
          <li class="list-inline-item" style="background-color: #bf2a3d;" data-path="css/colors/main-darkred.css"></li>
          <li class="list-inline-item" style="background-color: #28a745;" data-path="css/colors/main-green.css"></li>
          <li class="list-inline-item" style="background-color: #6610f2;" data-path="css/colors/main-indigo.css"></li>
          <li class="list-inline-item" style="background-color: #fd7e14;" data-path="css/colors/main-orange.css"></li>
          <li class="list-inline-item" style="background-color: #e83e8c;" data-path="css/colors/main-pink.css"></li>
          <li class="list-inline-item" style="background-color: #6f42c1;" data-path="css/colors/main-purple.css"></li>
          <li class="list-inline-item" style="background-color: #dc3545;" data-path="css/colors/main-red.css"></li>
          <li class="list-inline-item" style="background-color: #20c997;" data-path="css/colors/main-teal.css"></li>
          <li class="list-inline-item" style="background-color: #333;" data-path="css/colors/main-dark.css"></li>
          <li class="list-inline-item" style="background-color: #78b230;" data-path="css/colors/main-yellowgreen.css"></li>
          <li class="list-inline-item" style="background-color: #E16F7C;" data-path="css/colors/main-tangopink.css"></li>
          <li class="list-inline-item" style="background-color: #6F73D2;" data-path="css/colors/main-moodyblue.css"></li>
          <li class="list-inline-item" style="background-color: #664C43;" data-path="css/colors/main-brown.css"></li>
          <li class="list-inline-item" style="background-color: #4770D9;" data-path="css/colors/main-royalblue.css"></li>
          <li class="list-inline-item" style="background-color: #ffb100;" data-path="css/colors/main-darkyellow.css"></li>
        </ul>
        <div class="single-block buy-btn mb-0">
          <a class="btn btn-success btn-sm" target="_blank" href="https://themeforest.net/item/kitzu-personal-portfolio-template/26075107" role="button">Buy Kitzu</a>
        </div>
      </div>
    </div>
  </div>
  <!-- endremoveIf(customizerDist)-->
  <!-- Scripts-->
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/imagesloaded.pkgd.min.js"></script>
  <script src="js/isotope.pkgd.min.js"></script>
  <script src="js/animatedModal.js"></script>
  <script src="js/tiny-slider.js"></script>
  <script src="js/lity.min.js"></script>
  <script src="js/simplebar.min.js"></script>
  <script src="js/jquery.mb.YTPlayer.min.js"></script>
  <script src="js/main.js"></script>
  <!-- Custom JS (Add your custom JS scripts to this file)-->
  <script src="js/custom.js"></script>
  <!-- removeIf(customizerDist)-->
  <script src="../customizer/main.js"></script>
  <!-- endremoveIf(customizerDist)-->
</body>

</html>